@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form asp-action="Create">
    <input type="text" value="12.35" name="a" />
    <input type="submit" value="Create" class="btn btn-success form-control" />
</form>